In [ ]:
# Import python packages
import streamlit as st
import pandas as pd
import numpy as np
import altair as alt
import plotly.express as px
#from tabulate import tabulate
#from sklearn.decomposition import PCA
#import matplotlib.pyplot as plt
#import seaborn as sns
#from sklearn.ensemble import RandomForestClassifier
#from sklearn.model_selection import train_test_split
#from sklearn.metrics import classification_report


# We can also use Snowpark for our analyses!
from snowflake.snowpark.context import get_active_session
session = get_active_session()

In [ ]:
--create or replace stage my_python_packages_stage;

In [ ]:
# Then, we can use the python name to turn cell2 into a Pandas dataframe
#my_df = cell2.to_pandas()

# Chart the data
#st.subheader("Chance of SNOW ‚ùÑÔ∏è")
#st.line_chart(my_df, x='SNOWDAY', y='CHANCE_OF_SNOW')

# Give it a go!
#st.subheader("Try it out yourself and show off your skills ü•á")

In [ ]:
-- Summary of constructor based on points, number of laps done by each driver
select c.name as constructorname,sum(rs.points) as Total_Points ,SUM(laps) as Total_Laps ,count(d.driverid) as Total_Drivers,
from 
playground.datathon.results rs
left join playground.datathon.races rc on rs.raceid = rc.raceid
left join playground.datathon.drivers d on rs.driverid = d.driverid
left join playground.datathon.constructors c on rs.constructorid = c.constructorid
left join playground.datathon.status s on rs.statusid = s.statusid
where UPPER(s.status) = 'FINISHED'
group by c.name
order by sum(rs.points) desc;

In [ ]:
dg5_df = cell4.to_pandas()

# Chart the data
st.subheader("Constructor Summary - Points based")
chart = alt.Chart(dg5_df).mark_bar().encode(
    x=alt.X('CONSTRUCTORNAME:N',sort='-y'),
    y='TOTAL_POINTS:Q'
)
st.altair_chart(chart, use_container_width=True)

In [ ]:
dg5_df = cell4.to_pandas()

# Chart the data
st.subheader("Constructor Summary - Laps based")
chart = alt.Chart(dg5_df).mark_bar().encode(
    x=alt.X('CONSTRUCTORNAME:N',sort='-y'),
    y='TOTAL_LAPS:Q'
)
st.altair_chart(chart, use_container_width=True)

In [ ]:
SELECT s.status
, CASE WHEN RS.POSITION IS NULL THEN '99' ELSE RS.POSITION END AS POSITION
, CASE WHEN RS.MILLISECONDS IS NULL THEN '0' ELSE RS.MILLISECONDS END AS MILLISECONDS
, RS.*
FROM PLAYGROUND.DATATHON.RACES rc
left join playground.datathon.RESULTS rs on rs.raceid = rc.raceid
left join playground.datathon.status s on rs.statusid = s.statusid
WHERE RS.POSITION IS NULL OR RS.MILLISECONDS IS NULL
LIMIT 10;

In [ ]:
SELECT rc.NAME as RACE,rc.YEAR,rc.ROUND,rc.CIRCUITID,C.NAME AS CONSTRUCTOR,CONCAT(D.FORENAME,' ',D.SURNAME) AS DRIVER,RS.LAPS,S.STATUS,RS.POSITION,RS.MILLISECONDS
FROM PLAYGROUND.DATATHON.RACES rc
left join playground.datathon.RESULTS rs on rs.raceid = rc.raceid
left join playground.datathon.status s on rs.statusid = s.statusid
left join playground.datathon.constructors c on rs.constructorid = c.constructorid
left join playground.datathon.drivers d on rs.driverid = d.driverid

In [ ]:
#Cleanse the data by removing the missing values
dg5_df1 = cell9.to_pandas()
dg5_df1 = dg5_df1.dropna()

table=tabulate(dg5_df1.values,headers=dg5_df1.columns,tablefmt='grid')

dg5_df1.to_csv("C:\\Users\\tanu.d.gupta\\OneDrive - Accenture\\Documents\\Tanu\\Personal\\Datathon 2025\\clean_races.csv")

#print(table)

In [ ]:
# Handle missing values
dg5_df1 = cell9.to_pandas()

#for col in dg5_df1.columns:
#    if dg5_df1[col].dtype in ['int64','float64']:
#        dg5_df1[col].fillna(99,inplace=True)
#    elif dg5_df1[col].dtype in ['datetime64','date64']:
#        dg5_df1[col].fillna('9999-12-31',inplace=True)
#    else:
#            dg5_df1[col].fillna('DEF',inplace=True)
#table=tabulate(dg5_df1.values,headers=dg5_df1.columns,tablefmt='grid')

#print(table)

# Drop rows with missing values in key columns
#dg5_df.dropna(subset=['RACEID', 'YEAR', 'RESULTID', 'CONSTRUCTORID','DRIVERID'], inplace=True)

# Convert to correct types
#dg5_df['pole_gap'] = dg5_df['pole_gap'].astype(float)
#dg5_df['lap_time'] = dg5_df['lap_time'].astype(float)

# Encode categorical features
#df = pd.get_dummies(dg5_df, columns=['location'], drop_first=True)

# Save clean dataset
#df.to_csv('cleaned_race_data.csv', index=False)




# Histograms (this gives us a quick diagnostic of data‚Äîsuch as whether values are skewed, normally distributed, or have outliers.)
dg5_df1.hist(bins=20, figsize=(10, 6))
plt.suptitle("Feature Distributions")
plt.tight_layout()
plt.show()

In [ ]:
dg5_df2 = cell9.to_pandas()

# Prepare data
X = dg5_df2.drop('STATUS', axis=1)
y = dg5_df2['STATUS']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)